@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.blockLogin{
    width: 489px;
    height: 591px;
    background-color: antiquewhite;
    border-radius: 86px;
}
.inBlockLogin{
    text-align: center;
}
